div{
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
body{
    text-align: center;
}
#red{
    -webkit-appearance: none;
    appearance: none;
    width: 200px ;
    height: 5px;
    background-color: red;
}